html {
  height: 100%;
}
body {
  background: url("../img/logo.png") no-repeat 120px 55px, url("../img/bg.jpg") no-repeat center center fixed;
  color: silver;
  margin-top: 85px;
  height: 100%;
}

h1 {
  font-size: 4em;
  margin-left: 250px;
  margin-top: 50px;
}

.top-row {
  margin-top: 80px;
  margin-bottom: 0;
}

#specials,
#order,
#admin,
#signin {
  margin-top: 60px;
}
