body {
  background: url("../img/logo.png") no-repeat 120px 55px, url("../img/bg.jpg");
  color: silver;
  margin-top: 85px;
}

h1 {
  font-size: 4em;
  margin-left: 250px;
  margin-top: 50px;
}

#specials,
#admin,
#signin {
  margin-top: 60px;
}
