body {
  background: url("../img/logo.png") no-repeat 120px 10px, url("../img/bg.jpg");
  color: silver;
}

.container {
  margin-top: 140px;
}

h1 {
  font-size: 4em;
  margin-left: 250px;
  margin-top: 50px;
}
